@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100");

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  background: #264159;
  font-family: "Raleway";
  color: white;
}
h1 {
  font-family: "Raleway",
  text-align: center;
  color: white;
}
